{
  "name": "{{ project_name }}",
  "version": "1.0.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start"
  },
  "dependencies": {
    "@theguild/remark-mermaid": "0.3.0",
    "next": "15.5.18",
    "nextra": "4.6.0",
    "nextra-theme-docs": "4.6.0",
    "react": "19.0.0",
    "react-dom": "19.0.0"
  }
}
